<header id="layout-header">
    <nav>
        <div class="mini-logo">
            <p>
                <a href='/'>
                    ToDo
                </a>
            </p>
        </div>
    
        <div class="auth-links">
            <ul>
                <% if (locals.user){ %>
                <li>
                    <a href="/"><%= user.name %></a>
                </li>
                <li>
                    <a href="/sign-out">Sign Out</a>
                </li>
                <% }else{ %>
                <li>
                    <a href="/signin">Sign In</a>
                </li>
                <li>
                    <a href="/signup">Sign Up</a>
                </li>
        
                <% } %>
            </ul>
        </div>
    </nav>
 


</header>