
    <link rel="stylesheet" href='/css/home.css'>
    <div id="mainForm">
        <form action="">
            <div class="row">

                <div class="col">
                    <label for="description">Description</label>
                    <input type="text" placeholder="What do you need to do" name="task" id="description">
                </div>

            </div>

            <div class="row">

                <div class="col">
        
                    <label for="category">Category</label>
                    <select class="form-control form-control-lg" id="category">
                        <option>Personal</option>
                        <option>Work</option>
                        <option>School</option>
                        <option>Cleaning</option>
                        <option>Other</option>
                    </select>
                </div>

                <div class="col">
                    <label for="date">Date</label>
                    <input type="date" id="date" name="date">
                </div>
            </div>
                <div id="buttons">
                    <button type="button" class="btn btn-dark"><i class="fas fa-plus"></i> Add Task</button>                    
                    <button type="button" class="btn btn-danger"><i class="far fa-trash-alt"></i> Delete Task</button>
                </div>
        </form>
    </div>