
    <link rel="stylesheet" href='/css/home.css'>
    <div id="mainForm">
        <form action="" id="taskform">
            <div class="row">
        <!-- Description input -->
                <div class="col">
                    <label for="description">Description</label>
                    <input type="text" placeholder="What do you need to do" name="description" id="description">
                </div>

            </div>

            <div class="row">
                
                <div class="col">

        <!-- Category Selection -->
                    <label for="category">Category</label>
                    <select class="form-control form-control-lg" id="category" name="category">
                        <option>Personal</option>
                        <option>Work</option>
                        <option>School</option>
                        <option>Cleaning</option>
                        <option>Other</option>
                    </select>
                
                </div>
        <!-- Date Input -->
                <div class="col">
                    <label for="date">Date</label>
                    <input type="date" id="date" name="date">
                </div>
                <input type="hidden" name='user' value="<%=locals.user.id%>">
            </div>
        <!-- buttons -->
                <div id="buttons">
                    <button type="submit" id="addtask" class="btn btn-dark"><i class="fas fa-plus"></i> Add Task</button>                    
                    <button type="button" id='deltask' class="btn btn-danger"><i class="far fa-trash-alt"></i> Delete Selected</button>
                    <button type="button" id='delAll' class="btn btn-danger"><i class="far fa-trash-alt"></i> Delete All</button>
                </div>
        </form>
    </div>

    <div id="Taskscontainer"></div>
    
    <script type="text/javascript" src='/js/home.js'></script>