<h1>Sign In</h1>
<h3>An advanced and more secure ToDo website .</h3>
<h3>Only you can see your schedule</h3>

<!-- ************************************************************************************************ -->
<!-- Form for Sign In -->

<form action="/create-session" method="POST" style="text-align: center; padding: 10%;">
    <input type="email" name="email" placeholder="Email"  required>
    <input type="password" name="password" placeholder="Password"  required>
    <input type="submit" value="Sign In">

</form>

<!-- Signup link -->
<div style="text-align: center; margin-top: -10%;">
<h3>New User ? </h3>
<a href="signup" style="text-align:center; font-size: large;">Sign Up Here</a>
</div>